body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #bfece7;
    color: #333;
}
header {
    background: #b771a2;
    color: rgba(5, 24, 103, 0.822);
    padding: 50px 20px;
    text-align: center;
}   
header h1 {
    margin: 0;
    font-size: 2.5rem;
}
header p {
    margin-top: 10px;
    font-size: 1.2rem;
}
.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}
h2 {
    color: #b771a2;
    ;
    padding-left: 10px;
}
section {
    background: #bfece7;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgb(5, 48, 97);
}
ul {
    padding-left: 20px;
}
footer {
    background: #b771a2;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}
